h1{text-align: center;
    color: aliceblue;
}
html{
    background-image: url(/Images/grace-brauteseth-GB5mqlar3no-unsplash.jpg);
    background-size: cover ;
    }
#introduction{
    color: aliceblue;
    text-align: center;
    width: 100%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    
}
#map{
    float: left;
}
#countries{
    float: right;
    background-color: rgb(117, 97, 66);
    width: 100%;
}
ol{
    list-style-type:circle;
}
a{
    text-decoration: none;
}
a:hover{
    color: hotpink;
    text-decoration: none;
}
#proposal{
    color: rgb(224, 224, 108);
}